
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

    --bg-color: #451E201E;
    --primary-color: #3C3D37;
    --secondary-color: #697565 ;
}